<div class="input-append">
	<%= form_for @todo, :remote => true do |f| %>
		<%= f.text_field :desc, :autofocus => true, :class => :span12, :placeholder => 'Type a todo and press ENTER...', :id => 'todo' %>
		<button type="submit" class="btn">
		  <i class="icon-plus"></i>
		</button>
	<% end %>
</div>