<%= render 'tags' %>
<hr class='soften' />
<ul class="unstyled form-inline todos">
	<% @todos.each do |t| %>
	<% unless t.desc.nil? %>
	<li>
		<input type='checkbox' id='<%= t.id %>'/>
		<label for='<%= t.id %>'>
			<%= todo_desc(t.desc).html_safe %>
		</label>
	</li>
	<% end %>
	<% end %>
</ul>
</div>
