@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	.content{
		padding-top: 50px;
	}
}

form.todo-form {
	margin: 0;
}

ul.tags {
	margin: 0;
	margin-top: -20px;
	li {
		display: inline;
		list-style-type: none;
		span {
			.transition(all 0.2s ease-in-out);
		}
	}
}

ul.todos {
	li {
		font-size: 25px;
		label a {
			.transition(all 0.2s ease-in-out);
			&.m-btn.mini {
				margin-left: 0;
			}
		}
	}
}